# Maestria en Ciencia de Datos
## Programación para la Ciencia de Datos
### Guia 1
### Actividad 1. Funciones y tipos de variables

In [1]:
#importando la libreria de pandas para leer el conjunto de datos
import pandas as pd

In [5]:
#leyendo el conjunto de datos y almacenandolo en la variable df
df = pd.read_csv ('census_income.csv')

In [9]:
#mostrando el conjunto de datos
df

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

**1.** Descripción de los tipos de variables del conjunto de datos:

In [21]:
#1. Para la descripción de los tipos de variables utilizaremos la siguiente función:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      48842 non-null  int64
 1   age             48842 non-null  int64
 2   workclass       47879 non-null  object
 3   fnlwgt          48842 non-null  int64
 4   education       48842 non-null  object
 5   education-num   48842 non-null  int64
 6   marital-status  48842 non-null  object
 7   occupation      47876 non-null  object
 8   relationship    48842 non-null  object
 9   race            48842 non-null  object
 10  sex             48842 non-null  object
 11  capital-gain    48842 non-null  int64
 12  capital-loss    48842 non-null  int64
 13  hours-per-week  48842 non-null  int64
 14  native-country  48568 non-null  object
 15  income          48842 non-null  object
dtypes: int64(7), object(9)
memory usage: 6.0+ MB

**1.** Descripción de los tipos de variables a paritr del resultado de la función df.info()

**Variables:**

De acuerdo con la penultima linea del resultado de la función ejecutada, el conjunto de datos tiene 7 variables de tipo entero y 9 de tipo categorico. A continuación se describe cada una de ellas:

**1. Unnamed variable:** corresponde al ID de cada uno de los registros del conjunto de datos (entero).
**2. 
ag:** corresponde al dato de  eda (entero).d**3. 
workcla:**scorresponde al tipo de trabajo (categorica).r**4. a
fnl:** (entero).w**5. gt
educa:**tcorresponde al ion nivel de educa (categorica).c**6. ion
educatio:**ncorresponde al -num dominio del nivel de educ, es decir, a cada una de las categorias de la variable "education" se le asigna un valor entero (entero).a**7. ción
marital-:**scorresponde al tatus estado (categorica). **8. civil
occ:**ucorresponde a la pation ocu(categorica).p**9. acion 
rela:**tcorresponde a la ionship relación/pa (categorica).r**10. ente:**zcorresponde a la co
 (categorica).r**11. ace:** corresponde al raza (categorica).**12. 
sex sexo
c:**acorresponde a las pital-gas (entero).i**13. n ganancia
:**ccorresponde a las apital-s (entero).l**14. hours-per-week:** corresponde a las horas por semana (entero).**15. 
native-countr:**ycorresponde al  país de orige (categorica).n**16. 
inco:**mcorresponde a los e ingres (categorica).sincome ingresos

**2.1** Aplicar funciones correspondientes al tipo de variables para la cantidad de valores que hay.
**2.2** Aplicar funciones correspondientes al tipo de variables para encontrar valores distintos.
Se aplica la función df["nombre de la variable"].value_counts() a cada una de las variables del conjunto de datos, para identificar los diferentes valores que toma la variable y la cantidad de registros que tiene cada uno de esos valores.

In [55]:
df["age"].value_counts()

age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64

La variable age tiene 74 valores, el valor que más se repite es 36 y el de menor frecuencia es 86. Esta variable tiene datos para 48.842 registros.

In [25]:
df["workclass"].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

La variable workclass tiene 8 categorias, adicionalmente hay una categoria denominada con un valor distinto "?" que agrupa 1836 registros. Esta variable tiene datos para 47.879 registros.

In [27]:
df["fnlwgt"].value_counts()

fnlwgt
203488    21
120277    19
190290    19
125892    18
126569    18
          ..
286983     1
185942     1
234220     1
214706     1
350977     1
Name: count, Length: 28523, dtype: int64

La variable fnlwgt tiene 28523 categorias. Esta variable tiene datos para 48.842 registros.

In [29]:
df["education"].value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

La variable education tiene 16 categorias, la de mayor frecuencia es HS-grad y la de menor frecuencia Preschool. Esta variable tiene datos para 48.842 registros.

In [31]:
df["education-num"].value_counts()

education-num
9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64

La variable education-num tiene 16 categorias, la de mayor frecuencia es 9 que corresponde a HS-grad y la de menor frecuencia 1 que corresponde a Preschool.Esta variable tiene datos para 48.842 registros.

In [33]:
df["marital-status"].value_counts()

marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

La variable marital-status tiene 7 categorias, la de mayor frecuencia es Married-civ-spouse con un total de 22.379 registros y la de menor frecuencia Married-AF-spouse con 37 registros. Esta variable tiene datos para 48.842 registros.

In [35]:
df["occupation"].value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
?                    1843
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

La variable occupation tiene 14 categorias, adicionalmente hay una categoria denominada con un valor distinto "?" que agrupa 1843 registros. Esta variable tiene datos para 47.876 registros.

In [37]:
df["relationship"].value_counts()

relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64

La variable relationship tiene 6 categorias, la de mayor frecuencia es Husband con 19.716 registros y la de menor frecuencia Other-relative con 1.506 registros. Esta variable tiene datos para 48.842 registros.

In [39]:
df["race"].value_counts()

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

La variable race tiene 5 categorias, la de mayor frecuencia es White con 41.762 registros y la de menor frecuencia Other con 406 registros. Esta variable tiene datos para 48.842 registros.

In [41]:
df["sex"].value_counts()

sex
Male      32650
Female    16192
Name: count, dtype: int64

La variable sex tiene 2 categorias, la de mayor frecuencia es Male con 32.650 registros y la de menor frecuencia Female con 16.192 registros. Esta variable tiene datos para 48.842 registros.

In [43]:
df["capital-gain"].value_counts()

capital-gain
0        44807
15024      513
7688       410
7298       364
99999      244
         ...
22040        1
2387         1
1639         1
1111         1
6612         1
Name: count, Length: 123, dtype: int64

La variable capital-gain tiene 123 diferentes valores, el valor de mayor frecuencia es 0 con 44.807 registros. Esta variable tiene datos para 48.842 registros.

In [45]:
df["capital-loss"].value_counts()

capital-loss
0       46560
1902      304
1977      253
1887      233
2415       72
        ...
1539        1
1870        1
1911        1
2465        1
1421        1
Name: count, Length: 99, dtype: int64

La variable capital-loss tiene 99 diferentes valores, el valor de mayor frecuencia es 0 con 46.560 registros. Esta variable tiene datos para 48842 registros.

In [47]:
df["hours-per-week"].value_counts()

hours-per-week
40    22803
50     4246
45     2717
60     2177
35     1937
      ...
79        1
94        1
82        1
87        1
69        1
Name: count, Length: 96, dtype: int64

La variable hours-per-week tiene 96 diferentes valores, el valor de mayor frecuencia es 40 con 22.803 registros. Esta variable tiene datos para 48.842 registros.

In [49]:
df["native-country"].value_counts()

native-country
United-States                 43832
Mexico                          951
?                               583
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

La variable native-country tiene 41 diferentes categorias, la categoria de mayor frecuencia es United-States con 43.832 registros. Esta variable tiene datos para 48.568 registros.

In [51]:
df["income"].value_counts()

income
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64

La variable income tiene 4 diferentes categorias, sin embargo, se podrían agrupar en dos categorias, <=50K y <=50K. pueden ser una categoria y >50K con >50K. otra categoaria. Esta variable tiene datos para 48.842 registros.

**2.3** Aplicar funciones correspondientes al tipo de variables para hallar los valores nulos:
Se aplica la función df.isnull().sum() a todo el conjunto de datos.

In [53]:
df.isnull().sum()

Unnamed: 0          0
age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

De acuerdo con el resultado anterior, hay tres variables con valores nulos dentro del conjunto de datos, workclass con 963 registros con valores nulos, occupation con 966 y native-country con 274.