# Maestria en Ciencia de Datos
## Programación para la Ciencia de Datos

### Guia 2

### Actividad 2. Transformación de datos

<p>La primera parte de este cuadernillo contiene la misma información del cuadernillo de la actividad 1, a partir de la linea [] inician las actividades especificas de la actividad 2.</p>

In [3]:
#importando la libreria de pandas para leer el conjunto de datos
import pandas as pd

In [5]:
#leyendo el conjunto de datos y almacenandolo en la variable df
df = pd.read_csv ('10.000_Empresas_mas_Grandes_del_Pa_s_20240822.csv')

In [7]:
#mostrando el conjunto de datos
df

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,$144.82,$33.41,$216.85,$125.81,$91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atlántica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,$27.86,$2.19,$42.84,$16.48,$26.36,2022
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,$23.60,$0.33,$7.48,$4.47,$3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$16.39,$6.05,$10.45,$9.00,$1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$15.27,$2.16,$14.27,$6.34,$7.93,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,900440256,EFIVENTAS Y SERVICIOS SAS,SUPERSOCIEDADES,Costa Atlántica,ATLANTICO,BARRANQUILLA-ATLANTICO,7490,SERVICIOS,$0.01,$0.00,$0.01,$0.01,$0.00,2021
19996,890115230,QUIMIFEX SAS,SUPERSOCIEDADES,Costa Atlántica,ATLANTICO,BARRANQUILLA-ATLANTICO,4664,COMERCIO,$0.01,$0.00,$0.01,$0.01,$0.00,2021
19997,901021850,EDGE NETWORK SERVICES COLOMBIA SAS,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,6190,SERVICIOS,$0.01,$0.00,$0.04,$0.00,$0.04,2021
19998,900350192,DESTINO COMERCIAL SAS,SUPERSOCIEDADES,Antioquia,ANTIOQUIA,SABANETA-ANTIOQUIA,4771,COMERCIO,$0.01,$0.00,$0.01,$0.00,$0.00,2021
19999,830123119,DISTRIBUIDORA DE MAQUINARIA AGRICOLA Y PECUARI...,SUPERSOCIEDADES,Bogotá - Cundinamarca,CUNDINAMARCA,CHIA-CUNDINAMARCA,4653,COMERCIO,$0.01,$0.00,$0.01,$0.01,$0.00,2021

<p>Descripción de los tipos de variables del conjunto de datos:</p>

In [9]:
#1. Para la descripción de los tipos de variables utilizaremos la siguiente función:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  object
 9   GANANCIA (PÉRDIDA)      20000 non-null  object
 10  TOTAL ACTIVOS           20000 non-null  object
 11  TOTAL PASIVOS           20000 non-null  object
 12  TOTAL PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

<p>Descripción de los tipos de variables a paritr del resultado de la función df.info()</p>

<p>Variables:</p>

<p>De acuerdo con la penultima linea del resultado de la función ejecutada, el conjunto de datos tiene 3 variables de tipo entero y 9 de tipo no indentificado, sin embargo, con la revisión de una muestra de la base se identifican los tipos de variables que no identifica la funcion "info". A continuación se describe cada una de ellas:</p>

<p>NIT es de tipo entero</p>
<p>RAZÓN SOCIAL es de tipo texto</p>  
<p>SUPERVISOR es de tipo texto</p>  
<p>REGIÓN es de tipo texto</p>  
<p>DEPARTAMENTO DOMICILIO es de tipo texto</p>  
<p>CIUDAD DOMICILIO es de tipo texto</p>
<p>CIIU es de tipo entero</p>  
<p>MACROSECTOR es de tipo texto</p>  
<p>INGRESOS OPERACIONALES de tipo texto</p>  
<p>GANANCIA (PÉRDIDA)  es de tipo texto</p>  
<p>TOTAL ACTIVOS es de tipo texto</p>  
<p>TOTAL PASIVOS es de tipo texto</p>  
<p>TOTAL PATRIMONIO es de tipo texto</p>
<p>Año de Corte es de tipo entero</p>

1. Transformación del tipo de dato

In [11]:
# Las variables correspondientes a ingresos operacionales, ganancia, activos, pasivos y patrimonio se presentan en billones de pesos y estan antecedidas
# por el signo '$', para un mejor tratamiento de la información eliminaremos este simbolo en los datos, así lo podremos trabajar más adelante como 
# valores (realizando las transformaciones adecuadas).

df['INGRESOS OPERACIONALES'] = df['INGRESOS OPERACIONALES'].str.replace('$','')

In [13]:
df['INGRESOS OPERACIONALES']

0        144.82
1         27.86
2         23.60
3         16.39
4         15.27
          ...
19995      0.01
19996      0.01
19997      0.01
19998      0.01
19999      0.01
Name: INGRESOS OPERACIONALES, Length: 20000, dtype: object

In [15]:
#Tambien para un mejor tratamiento de los datos, cambiaremos los espacios en los nombres de las variables por guiones bajos "_"
df = df.rename(columns={'INGRESOS OPERACIONALES': 'INGRESOS_OPERACIONALES', 'GANANCIA (PÉRDIDA)': 'GANANCIA_PERDIDA', 'TOTAL ACTIVOS':'TOTAL_ACTIVOS','TOTAL PASIVOS':'TOTAL_PASIVOS', 'TOTAL PATRIMONIO':'TOTAL_PATRIMONIO'})

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS_OPERACIONALES  20000 non-null  object
 9   GANANCIA_PERDIDA        20000 non-null  object
 10  TOTAL_ACTIVOS           20000 non-null  object
 11  TOTAL_PASIVOS           20000 non-null  object
 12  TOTAL_PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

<p>Como podemos apreciar, ya quedaron efectuados los cambios de nombre de las columnas. Ahora reemplazaremos el simbolo "$" en las otras 4 columnas.</p>

In [19]:
df['GANANCIA_PERDIDA'] = df['GANANCIA_PERDIDA'].str.replace('$','')

In [21]:
df['TOTAL_ACTIVOS'] = df['TOTAL_ACTIVOS'].str.replace('$','')

In [23]:
df['TOTAL_PASIVOS'] = df['TOTAL_PASIVOS'].str.replace('$','')

In [25]:
df['TOTAL_PASIVOS'] = df['TOTAL_PASIVOS'].str.replace('$','')

In [27]:
df['TOTAL_PATRIMONIO'] = df['TOTAL_PATRIMONIO'].str.replace('$','')

In [29]:
df

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS_OPERACIONALES,GANANCIA_PERDIDA,TOTAL_ACTIVOS,TOTAL_PASIVOS,TOTAL_PATRIMONIO,Año de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,144.82,33.41,216.85,125.81,91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atlántica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,27.86,2.19,42.84,16.48,26.36,2022
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,23.60,0.33,7.48,4.47,3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,16.39,6.05,10.45,9.00,1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,15.27,2.16,14.27,6.34,7.93,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,900440256,EFIVENTAS Y SERVICIOS SAS,SUPERSOCIEDADES,Costa Atlántica,ATLANTICO,BARRANQUILLA-ATLANTICO,7490,SERVICIOS,0.01,0.00,0.01,0.01,0.00,2021
19996,890115230,QUIMIFEX SAS,SUPERSOCIEDADES,Costa Atlántica,ATLANTICO,BARRANQUILLA-ATLANTICO,4664,COMERCIO,0.01,0.00,0.01,0.01,0.00,2021
19997,901021850,EDGE NETWORK SERVICES COLOMBIA SAS,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,6190,SERVICIOS,0.01,0.00,0.04,0.00,0.04,2021
19998,900350192,DESTINO COMERCIAL SAS,SUPERSOCIEDADES,Antioquia,ANTIOQUIA,SABANETA-ANTIOQUIA,4771,COMERCIO,0.01,0.00,0.01,0.00,0.00,2021
19999,830123119,DISTRIBUIDORA DE MAQUINARIA AGRICOLA Y PECUARI...,SUPERSOCIEDADES,Bogotá - Cundinamarca,CUNDINAMARCA,CHIA-CUNDINAMARCA,4653,COMERCIO,0.01,0.00,0.01,0.01,0.00,2021

<p>Como podemos observar, los campos de las variables de ingresos operacionales, ganancia, activos, pasivos y patrimonio ya no contienen el simbolo "$". Además los nombres de las variables ya no tienen espacios.</p>

In [31]:
# Revisaremos si con la limpieza realizada previamente es posible transformar el tipo de dato de algunas de las variables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS_OPERACIONALES  20000 non-null  object
 9   GANANCIA_PERDIDA        20000 non-null  object
 10  TOTAL_ACTIVOS           20000 non-null  object
 11  TOTAL_PASIVOS           20000 non-null  object
 12  TOTAL_PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

In [33]:
# De acuerdo con lo arrojado por la funcion .info se mantinenen los tipos de dato previos. Sin embargo como ya limpiamos las variables de valores 
# vamos a intentar transformar el tipo de dato de estas.

df['INGRESOS_OPERACIONALES'] = df['INGRESOS_OPERACIONALES'].astype(float)

In [35]:
df['INGRESOS_OPERACIONALES']

0        144.82
1         27.86
2         23.60
3         16.39
4         15.27
          ...
19995      0.01
19996      0.01
19997      0.01
19998      0.01
19999      0.01
Name: INGRESOS_OPERACIONALES, Length: 20000, dtype: float64

<p>Como podemos apreciar en la ultima linea, ahora nuestra variable es de tipo flotante (float64). Haremoss lo mismo para las otras variables a las que se les hizo limpieza previamente</p>

In [37]:
df['GANANCIA_PERDIDA'] = df['GANANCIA_PERDIDA'].astype(float)

In [39]:
df['TOTAL_ACTIVOS'] = df['TOTAL_ACTIVOS'].astype(float)

In [41]:
df['TOTAL_PASIVOS'] = df['TOTAL_PASIVOS'].astype(float)

In [43]:
df['TOTAL_PATRIMONIO'] = df['TOTAL_PATRIMONIO'].astype(float)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS_OPERACIONALES  20000 non-null  float64
 9   GANANCIA_PERDIDA        20000 non-null  float64
 10  TOTAL_ACTIVOS           20000 non-null  float64
 11  TOTAL_PASIVOS           20000 non-null  float64
 12  TOTAL_PATRIMONIO        20000 non-null  float64
 13  Año de Corte            20000 non-null  int64
dtypes: float64(5), int64(3), object(6)
memory usage: 2.1+ MB

<p>Como podemos apreciar en la ultima linea, ahora tenemos 5 variables de tipo flotante (float64).</p>

In [49]:
# Podemos realizar algunas estadísticas sobre los datos trasnformados para validar su nuevo tipo. Para ello utilizaremos la funcion .describe que 
# hace un resumen de las estadisticas descriptivas generales para columnas con datos de tipo numerico.

df['INGRESOS_OPERACIONALES'].describe()

count    20000.000000
mean         0.151697
std          1.341785
min          0.010000
25%          0.020000
50%          0.040000
75%          0.080000
max        144.820000
Name: INGRESOS_OPERACIONALES, dtype: float64

In [51]:
df['GANANCIA_PERDIDA'].describe()

count    20000.000000
mean         0.014228
std          0.291474
min         -2.100000
25%          0.000000
50%          0.000000
75%          0.000000
max         33.410000
Name: GANANCIA_PERDIDA, dtype: float64

In [53]:
df['TOTAL_ACTIVOS'].describe()

count    20000.000000
mean         0.198043
std          2.286825
min          0.000000
25%          0.010000
50%          0.030000
75%          0.080000
max        216.850000
Name: TOTAL_ACTIVOS, dtype: float64

In [55]:
df['TOTAL_PASIVOS'].describe()

count    20000.000000
mean         0.098077
std          1.264153
min          0.000000
25%          0.010000
50%          0.020000
75%          0.040000
max        125.810000
Name: TOTAL_PASIVOS, dtype: float64

In [57]:
df['TOTAL_PATRIMONIO'].describe()

count    20000.000000
mean         0.099606
std          1.107662
min         -3.690000
25%          0.010000
50%          0.010000
75%          0.030000
max         91.030000
Name: TOTAL_PATRIMONIO, dtype: float64

<p>Con la aplicación de la función ".describe" queda demostrado que las variables se transformaron de manera correcta, de una cadena de caracteres o string a un valor númerico, en este caso como se indico antes datos de tipo flotante (float) partiendo inicialmente de una limpieza de datos.</p>